
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto&family=Sacramento&family=Square+Peg&display=swap" rel="stylesheet">
  <title>Donation</title>
</head>

<body>
  <div class="nav">
    <ul>
      <li><a href="/login">Logout</a></li>
      <li><a href="/stats">My History</a></li>
    <li><a href="/about">About</a></li>

    <li><a href="/">Home</a></li>
  </ul>
  </div>
  <h2 class="Thank">Thank you!</h2>
  <h2 style="text-align:center">Your data has been added to our database.<br />We'll contact you once we find a suitable recipient.</h2>
  <br>
  <h2 style="text-align:center">You have just done something for the society, We are proud of you!</h2>
</body>

</html>
