<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Request</title>
</head>

<body class="container">
  <h3>Request</h3>
  <form method="POST">
    <input type="email" name="email" placeholder="Email" required />
    <input type="text" name="Name" placeholder="Username" required />
    <input type="tel" name="phone" placeholder="phoneNo." required>
    <input type="text" name="BloodGroupReq" placeholder="BloodGroupReq" required />
    <input type="text" name="Address" placeholder="Address" required />
    <button type="submit">Submit</button>
  </form>
  <button><a href="/logout">LOGOUT</a></button>
  <button><a href="/">Dashboard</a></button>
</body>

</html>