<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto&family=Sacramento&family=Square+Peg&display=swap" rel="stylesheet">
  <title>Request</title>
</head>

<body>
  <div class="nav">
    <ul>
      <li><a href="/login">Logout</a></li>
      <li><a href="/stats">My History</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
  <h2 style="text-align:center;padding-top:50px;font-family: 'Sacramento', cursive;font-size:50px">The Importance Of Plasma In Blood</h2>
  <img src="/static/13-1484282932-blood-group.jpg" alt="" width="800px" height="400px" style="padding-top:50px;padding-left:300px">
  <h3 style="padding:50px 150px 50px 150px">Plasma is the liquid portion of blood. About 55% of our blood is plasma, and the remaining 45% are red blood cells, white blood cells and platelets that are suspended in the plasma.

Plasma is about 92% water. It also contains 7% vital proteins such as albumin, gamma globulin and anti-hemophilic factor, and 1% mineral salts, sugars, fats, hormones and vitamins. <br> <br>

Plasma serves four important functions in our body: <br>

1. Helps maintain blood pressure and volume. <br>

2. Supply critical proteins for blood clotting and immunity. <br>

3. Carries electrolytes such as sodium and potassium to our muscles.<br>

4. Helps to maintain a proper pH balance in the body, which supports cell function.</h3>


<h2 style="text-align:center;font-family: 'Sacramento', cursive;font-size:50px">What is a plasma donation?</h2>
<h3 style="padding:50px 150px 50px 150px">In a plasma-only donation, the liquid portion of the donor’s blood is separated from the cells. Blood is drawn from one arm and sent through a high-tech machine that collects the plasma. The donor’s red blood cells and platelets are then returned to the donor along with some saline. The process is safe and only takes a few minutes longer than donating whole blood.

Donated plasma is frozen within 24 hours of being donated to preserve its valuable clotting factors. It can be stored for up to one year and thawed for transfusion to a patient when needed. Red Cross donations are often used directly for hospital patient transfusions, rather than pharmaceutical uses.
 </h3>

<h2 style="text-align:center;font-family: 'Sacramento', cursive;font-size:50px">Who should donate plasma?</h2>

<h3 style="padding:50px 150px 50px 150px">
The Red Cross urges people with type AB blood to consider a plasma donation. AB is the only universal plasma and can be given to patients of any blood type. This means that type AB plasma transfusions can be given immediately, without losing precious time determining if the patient’s blood type is compatible. In emergency medicine, such as caring for a major trauma or burn patient, time saved can mean the difference between life and death.</h3>
</body>

</html>
